@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0; }

* {
  text-decoration: none;
  list-style: none; }

* {
  box-sizing: border-box; }

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0;
    width: 100%; } }

header {
  background-color: #158c97; }
  header nav div a img {
    width: 100px;
    height: 100px; }
  header nav div div ul li ul li {
    background-color: #158c97; }

main .hero {
  background-color: #22c0ce;
  background-size: cover; }
  main .hero .imgtitle {
    width: 100%; }
    main .hero .imgtitle img {
      border: 2px black solid;
      width: 95%;
      height: 500px;
      margin: 30px 30px 30px 30px; }
    main .hero .imgtitle h1 {
      position: absolute;
      margin-top: 50px;
      background-color: rgba(255, 255, 255, 0.279);
      padding: 5px;
      font-family: 'Courgette', cursive;
      color: black;
      font-size: 100px;
      border: 10px white double; }

main .presentacion {
  background-size: cover;
  text-align: center; }
  main .presentacion h2 {
    background-color: beige;
    color: black;
    font-size: 45px;
    padding: 15px; }
  main .presentacion p {
    background-color: #22c0ce;
    color: black;
    padding: 15px;
    font-size: 30px; }

main .sugerencias h2 {
  color: #020202;
  background-color: beige;
  background-size: cover;
  font-size: 35px;
  padding: 15px;
  text-align: center; }

main .sugerencias .sugerenciasTarjeta {
  background-color: #22c0ce;
  display: flex;
  justify-content: space-between; }
  main .sugerencias .sugerenciasTarjeta .tarjeta {
    padding: 10px;
    margin: 3%;
    border: 2px black solid;
    text-align: center;
    background-color: #c7c5cf;
    display: flex;
    flex-direction: column;
    width: 320px;
    transition: 1s; }
    main .sugerencias .sugerenciasTarjeta .tarjeta:hover {
      transform: scale(1.1); }
    main .sugerencias .sugerenciasTarjeta .tarjeta img {
      width: 300px;
      height: 210px;
      border-radius: 10px;
      margin-bottom: 20px; }
    main .sugerencias .sugerenciasTarjeta .tarjeta .boton {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.904);
      border: 2px black solid;
      padding: 2px;
      border-radius: 15px;
      background-color: #22c0ce;
      transition: 0.5s; }
      main .sugerencias .sugerenciasTarjeta .tarjeta .boton:hover {
        background-color: white; }

main section .logoFijo a {
  position: fixed;
  bottom: 30px;
  right: 1px; }

main .gridContainer {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  gap: 5px; }
  main .gridContainer .gridItem img {
    background-color: #22c0ce;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main .gridContainer .img1 {
    grid-row: span 2; }
  main .gridContainer .img5 {
    grid-column: span 3; }

/*---BuenosAires---*/
main .buenosAires {
  background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.493)), url(../img/BuenosAires.jpg);
  width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; }
  main .buenosAires div {
    background-color: rgba(32, 32, 32, 0.486);
    border: 2px black solid;
    width: 100%; }
    main .buenosAires div h2 {
      font-size: 30px;
      color: white; }
    main .buenosAires div p {
      text-align: center;
      color: white;
      font-size: 20px; }

main section {
  background-color: #202020; }
  main section .separador {
    color: white;
    text-shadow: 6px 2px 11px #12CEC5;
    text-align: center;
    padding-bottom: 10px;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0,5s; }

main .subTitulo {
  font-size: 30px;
  color: black;
  text-align: center;
  padding: 50px;
  background-color: #1a818b !important; }
  main .subTitulo .lugarBuenosAires {
    background-color: #a3a1a8;
    display: flex; }
    main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes img {
        height: 35vh;
        width: 28vw;
        margin: 10px 10px 10px 10px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75); }
    main .subTitulo .lugarBuenosAires .lugarParrafo {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      main .subTitulo .lugarBuenosAires .lugarParrafo .parrafo {
        color: black;
        font-size: 28px; }
      main .subTitulo .lugarBuenosAires .lugarParrafo a {
        display: flex;
        padding: 5px;
        justify-content: center;
        border: 2px black solid; }

/*---Tucuman---*/
main .tucuman {
  background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.493)), url(../img/tucuman.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; }
  main .tucuman div {
    background-color: rgba(32, 32, 32, 0.486);
    border: 2px black solid;
    width: 100%; }
    main .tucuman div h2 {
      font-size: 30px;
      color: white; }
    main .tucuman div p {
      text-align: center;
      color: white;
      font-size: 20px; }

main section .separador {
  color: white;
  text-shadow: 6px 2px 11px #12CEC5;
  text-align: center;
  padding-bottom: 10px;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0,5s; }

main .subTitulo {
  font-size: 30px;
  background-color: #22c0ce;
  color: black;
  text-align: center;
  padding: 50px;
  border: 1px cadetblue solid; }
  main .subTitulo .lugarTucuman {
    border: 1px #1d4647 solid;
    background-color: #a3a1a8;
    display: flex; }
    main .subTitulo .lugarTucuman .lugarTucumanImagenes {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      main .subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg1 {
        height: 35vh;
        width: 28vw;
        margin: 10px 10px 10px 10px;
        object-fit: cover;
        box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75); }
      main .subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg2 {
        height: 35vh;
        width: 28vw;
        margin: 10px 10px 10px 10px;
        object-fit: cover;
        box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75); }
    main .subTitulo .lugarTucuman .lugarParrafo {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      main .subTitulo .lugarTucuman .lugarParrafo .parrafo {
        color: black;
        font-size: 28px; }
      main .subTitulo .lugarTucuman .lugarParrafo a {
        display: flex;
        padding: 5px;
        justify-content: center;
        border: 2px black solid;
        transition: 1s; }
        main .subTitulo .lugarTucuman .lugarParrafo a:hover {
          background-color: white; }

/*-----Rio Nego------*/
main .rioNegro {
  background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.493)), url(../img/barilocheback.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; }
  main .rioNegro div {
    background-color: rgba(32, 32, 32, 0.486);
    border: 2px black solid;
    width: 100%; }
    main .rioNegro div h2 {
      font-size: 30px;
      color: white; }
    main .rioNegro div p {
      text-align: center;
      color: white;
      font-size: 20px; }

main section .separador {
  color: white;
  text-shadow: 6px 2px 11px #12CEC5;
  text-align: center;
  padding-bottom: 10px;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0,5s; }

main .subTitulo {
  font-size: 30px;
  background-color: #22c0ce;
  color: black;
  text-align: center;
  padding: 50px; }
  main .subTitulo .lugarBuenosAires {
    background-color: #a3a1a8;
    display: flex; }
    main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes img {
        height: 35vh;
        width: 28vw;
        margin: 10px 10px 10px 10px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75); }
  main .subTitulo .lugarParrafo {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    main .subTitulo .lugarParrafo .parrafo {
      color: black;
      font-size: 28px; }
    main .subTitulo .lugarParrafo a {
      display: flex;
      padding: 5px;
      justify-content: center;
      border: 2px black solid;
      transition: 1s; }
      main .subTitulo .lugarParrafo a:hover {
        background-color: white; }

/*----Misiones----*/
main .misiones {
  background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.493)), url(../img/cataratas_2.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; }
  main .misiones div {
    background-color: rgba(255, 255, 255, 0.486);
    border: 2px black solid;
    width: 100%; }
    main .misiones div h2 {
      font-size: 30px; }
    main .misiones div p {
      text-align: center;
      color: #0b0b0b;
      font-size: 20px; }

main section .separador {
  color: white;
  text-shadow: 6px 2px 11px #12CEC5;
  text-align: center;
  padding-bottom: 10px;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0,5s; }

main .subTitulo {
  font-size: 30px;
  background-color: #22c0ce;
  color: black;
  text-align: center;
  padding: 50px; }
  main .subTitulo .lugarBuenosAires {
    background-color: #a3a1a8;
    display: flex; }
    main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg1 {
        height: 35vh;
        width: 28vw;
        margin: 10px 10px 10px 10px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75); }
      main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg2 {
        height: 35vh;
        width: 28vw;
        margin: 10px 10px 10px 10px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -9px 3px 9px 0px rgba(0, 0, 0, 0.75); }
    main .subTitulo .lugarBuenosAires .lugarParrafo {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      main .subTitulo .lugarBuenosAires .lugarParrafo .parrafo {
        color: black;
        font-size: 28px; }
      main .subTitulo .lugarBuenosAires .lugarParrafo a {
        display: flex;
        padding: 5px;
        justify-content: center;
        border: 2px black solid;
        transition: 1s; }
        main .subTitulo .lugarBuenosAires .lugarParrafo a:hover {
          background-color: white; }

/*-----Contacto-----*/
main .contactop {
  text-align: center;
  border: 5px black solid;
  border-radius: 15px;
  background-color: cadetblue; }

main .contactosection {
  margin: 40px;
  background-color: beige; }

footer {
  background-color: beige; }
  footer div {
    display: flex;
    justify-content: space-between; }

@media screen and (max-width: 1180px) {
  .sugerenciasTarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .sugerenciasTarjeta .tarjeta {
      display: flex;
      align-items: center; } }

@media screen and (max-width: 1155px) {
  .subTitulo .lugarBuenosAires {
    display: flex; }
    .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes {
      display: flex;
      justify-content: space-around; }
      .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg1 {
        width: 45vw;
        border: none; }
      .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg2 {
        width: 45vw;
        border: none; }
  .subTitulo .lugarTucuman {
    display: flex;
    flex-direction: column; }
    .subTitulo .lugarTucuman .lugarTucumanImagenes {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse !important; }
      .subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg1 {
        width: 45vw;
        border: none; }
      .subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg2 {
        width: 45vw;
        border: none; } }

@media screen and (max-width: 1040px) {
  main .subTitulo .lugarBuenosAires {
    display: flex;
    flex-direction: column; }
    main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes {
      display: flex;
      flex-direction: row; }
      main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg1 {
        width: 35vw;
        border: none; }
      main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg2 {
        width: 35vw;
        border: none; }
  .gridContainer {
    grid-template-columns: repeat(3, 1fr); }
    .gridContainer .img2 {
      grid-column: span 3;
      object-fit: cover; }
    .gridContainer .img4 {
      grid-column: span 2; }
    .gridContainer .img5 {
      display: none; } }

@media screen and (max-width: 950px) {
  .hero div img {
    border: 0px black solid;
    width: 950px;
    height: 350px;
    margin: 0px; }
  .hero div h1 {
    position: absolute;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.279);
    padding: 5px;
    font-family: 'Courgette', cursive;
    color: black;
    font-size: 70px;
    border: 10px white double; } }

@media screen and (max-width: 880px) {
  .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg1 {
    width: 32vw;
    border: none; }
  .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg2 {
    border: none;
    width: 32vw; }
  .subTitulo .lugarBuenosAires .lugarParrafo .parrafo {
    font-size: 20px; } }

.subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg1 {
  width: 32vw; }

.subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg2 {
  width: 32vw; }

.subTitulo .lugarTucuman .lugarParrafo .parrafo {
  font-size: 20px; }

@media screen and (max-width: 720px) {
  main .hero .imgtitle img {
    width: 100%; }
  main .hero .imgtitle h1 {
    font-size: 55px; } }

@media screen and (max-width: 690px) {
  .subTitulo .lugarBuenosAires .lugarParrafo .parrafo {
    font-size: 14px !important; } }

@media screen and (max-width: 660px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px; }
    .gridContainer .img1 {
      grid-column: span 1; }
    .gridContainer .img2 {
      grid-column: span 2; }
    .gridContainer .img4 {
      grid-column: span 3; } }

@media screen and (max-width: 620px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 0px; }
  .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg1 {
    width: 38vw;
    border: none; }
  .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg2 {
    border: none;
    width: 38vw; } }

.subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg1 {
  width: 38vw; }

.subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg2 {
  width: 38vw; }

.subTitulo .lugarTucuman .lugarParrafo .parrafo {
  font-size: 20px; }

@media screen and (max-width: 580px) {
  .buenosAires p {
    display: none; }
  .tucuman p {
    display: none; }
  .rioNegro p {
    display: none; }
  .misiones div p {
    display: none; } }

@media screen and (max-width: 500px) {
  .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg1 {
    width: 30vw;
    border: none; }
  .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg2 {
    border: none;
    width: 30vw; }
  .subTitulo .lugarBuenosAires .lugarParrafo .parrafo {
    font-size: 15px !important; } }

.subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg1 {
  width: 35vw; }

.subTitulo .lugarTucuman .lugarTucumanImagenes .Ltimg2 {
  width: 35vw; }

.subTitulo .lugarTucuman .lugarParrafo .parrafo {
  font-size: 20px; }

@media screen and (max-width: 460px) {
  main .subTitulo .lugarBuenosAires {
    display: flex;
    flex-direction: column; }
    main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes {
      display: flex;
      justify-content: space-around; }
      main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg1 {
        width: 30vw;
        border: none; }
      main .subTitulo .lugarBuenosAires .lugarBuenosAiresImagenes .Limg2 {
        width: 30vw;
        border: none; } }

@media screen and (max-width: 440px) {
  .hero .imgtitle img {
    border: 0px black solid;
    width: 440px;
    height: 350px;
    margin: 0px; }
  .hero .imgtitle h1 {
    position: absolute;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.279);
    padding: 5px;
    font-family: 'Courgette', cursive;
    color: black;
    font-size: 50px;
    border: 10px white double; } }

/*----Extends😁------*/
main .hero .imgtitle {
  display: flex;
  justify-content: center;
  align-items: center; }
