@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');
/*-------RESET------------*/

*{
    margin: 0;
padding: 0;
}
*{
    text-decoration: none;
    list-style: none;
}
*{
box-sizing:border-box
}
/*-------HEADER----------*/
header nav div a img{
    width: 100px;
    height: 100px;
}


/*.logo a img{
    width:100px ;
    height:100px ;  
}
.logo{
    display: flex;    
    justify-content: center;
    align-items: center;
}

header{
    background-color: rgba(154, 151, 170, 0.484);
}
header h1{
    font-size: 50px;
    color: #22c0ce;   
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    margin: 20px 15px 30px 15px;
    
}
header nav ul li a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.904);
    border:2px black solid;
    padding: 5px;
    border-radius: 15px;
    background-color: #22c0ce;
}*/







/*-------MAIN----------*/
.hero{
    background-color: #22c0ce;
    background-size: cover;
}
.hero div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.hero div img{
    border: 2px black solid;
    width: 95%;
    height: 500px;
    margin: 30px 30px 30px 30px;

}
.hero div h2{
    position: absolute;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.279);
    padding: 5px;
    font-family: 'Courgette', cursive;
    color:rgb(0, 0, 0);
    font-size: 100px;
    border: 10px white double;  
}
.presentacion{
    background-size: cover;
    text-align: center;
}
.presentacion h2{
    background-color: rgba(154, 151, 170, 0.484);
    color: rgb(0, 0, 0);
    font-size: 45px;
    padding: 15px;
}
.presentacion p{
    background-color:#22c0ce;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 30px;
    
}

.sugerencias h2{
    color: rgb(2, 2, 2);
    background-color: rgba(154, 151, 170, 0.484);
    background-size: cover;
    font-size:35px ;
    padding: 15px;
    text-align: center;

}

.sugerenciasTarjeta{
    background-color: #22c0ce;
    display: flex;
    justify-content: space-between;
    
}
.sugerenciasTarjeta .tarjeta{
    padding: 10px;
    margin: 3%;
    border: 2px black solid;
    text-align: center;
    
}
.sugerenciasTarjeta .tarjeta img{
    width: 300px;
    height:210px ;
    border-radius: 20px;
    margin-bottom: 20px;
    
}
.tarjeta{
    background-color: rgb(199, 197, 207);
    display: flex;
    flex-direction: column;
    width: 320px;
}
.boton{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.904);
    border:2px black solid;
    padding: 2px;
    border-radius: 15px;
    background-color: #22c0ce;
    
}


.logoFijo{
    position: fixed;
bottom: 30px;
right: 1px;
}

/*--BuenosAires*/
.buenosAires{
    background-image: url(../img/BuenosAires.jpg);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.buenosAires h2{
font-size: 35px
}
.buenosAires div{
    background-color: rgba(255, 255, 255, 0.486);
    border: 2px black solid;
    width: 100%;

}
.buenosAires p{
    text-align: center;
    color: rgb(11, 11, 11);
    font-size: 20px;
}
.subTitulo{
    font-size: 30px;
    background-color: #22c0ce;
    color: black;
    text-align: center;
    padding: 50px;
}

.lugarBuenosAires{
    background-color:rgb(199, 197, 207);
    display: flex;
}
.lugarBuenosAires div{
    border: 2px rgb(0, 0, 0) solid;
}
.lugarBuenosAires div p{
    color: rgb(0, 0, 0);
    font-size: 20px;    
}
.lugarParrafo p{
    font-size: 5px;
}
.lugarBuenosAires .lugarBocaParrafo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lugarParrafo a{
display: flex;
padding: 5px;
justify-content: center;
border: 2px black solid;
}
.lugarBuenosAires .lugarBuenosAiresImagenes img {
    height: 230px;
    width: 370px;
    border: 2px rgb(0, 0, 0) solid;
    margin: 10px 10px 10px 10px;
    display:flex ;
    flex-direction: column;
}

.lugarBuenosAires div{
    border: 2px rgb(0, 0, 0) solid;
}
.lugarBuenosAires div p{
    color: rgb(0, 0, 0);
    font-size: xx-large; 
}
.lugarParrafo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gridContainer{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 250px;
    gap: 20px;
}
.img1{
    grid-row: span 2;
}
.img5{
    grid-column: span 3;
}
.gridContainer div img{
    background-color: #22c0ce;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---Tucuman---*/

.tucuman{
    background-image: url(../img/tucuman.jpg);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.tucuman h2{
font-size: 35px
}
.tucuman div{
    background-color: rgba(255, 255, 255, 0.486);
    border: 2px black solid;
    width: 100%;

}
.tucuman p{
    text-align: center;
    color: rgb(11, 11, 11);
    font-size: 25px;
}
.subTitulo{
    font-size: 30px;
    background-color: #22c0ce;
    color: black;
    text-align: center;
    padding: 50px;
}

.lugarTucuman{
    background-color:rgb(199, 197, 207);
    display: flex;
}
.lugarTucuman div{
    border: 2px rgb(0, 0, 0) solid;
}
.lugarTucuman div p{
    color: rgb(0, 0, 0);
    font-size: xx-large;    
}
.lugarParrafo p{
    font-size: 15px;
}
.lugarTucuman .lugarParrafo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lugarParrafo a{
display: flex;
padding: 5px;
justify-content: center;
border: 2px black solid;
}
.lugarTucuman .lugarTucumanImagenes img {
    height: 230px;
    width: 370px;
    border: 2px rgb(0, 0, 0) solid;
    margin: 10px 10px 10px 10px;
    display:flex ;
    flex-direction: column;
}
.lugarTucuman{
    background-color:rgb(199, 197, 207);
    display: flex;
}
.lugarTucuman div{
    border: 2px rgb(0, 0, 0) solid;
}
.lugarTucuman div p{
    color: rgb(0, 0, 0);
    font-size: xx-large; 
}
.lugarParrafo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}








/*-------FOOTER---------*/
footer{
    background-color: darkgray;
}
footer div{
    display: flex;
    justify-content: space-between;
}

footer div p{
    background-color: rgba(7, 7, 7, 0.578);
    color: rgb(0, 0, 0);
}             

/*---MediaQueries---*/
@media screen and (max-width:1180px) {
    .sugerenciasTarjeta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tarjeta{
        display: flex;
        align-items: center;
    }
}
@media  screen and (max-width:710px) {
    .hero div h2{
        font-size: 70px;

    }
    .hero div img{
        width:100%;
        margin: 0px;
    }
}
@media screen and(max-width:650px){
    .barraNav ul {
        flex-direction: column;
    }
}