@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');

*{
    margin: 0;
padding: 0;
}
*{
    text-decoration: none;
    list-style: none;
}
*{
box-sizing:border-box
}
@keyframes slide {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0;
        width: 100%;
    }
}