@media screen and (max-width:1180px) {
    .sugerenciasTarjeta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .tarjeta{
            display: flex;
            align-items: center;
        }
    }
}
@media screen and (max-width:1155px) {
    .lugarBuenosAires{
        display: flex;
        flex-direction: column;
        .lugarBuenosAiresImagenes {
            display: flex;
            justify-content: space-around;
            .Limg1{
                width: 45vw;
                border: none;
            }
            .Limg2{
                width: 45vw;
                border: none;
            }
        }
    }
.subTitulo{
    H2{

    }
    .lugarTucuman{
        display: flex;
        flex-direction: column;
        .lugarTucumanImagenes{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .Ltimg1{
                width: 55vw;
                border: none;
            }
            .Ltimg2{
                width: 55vw;
                border: none;
            }
        }
    }
}

}
@media screen and (max-width:1040px) {
    .gridContainer { 
    grid-template-columns: repeat(3,1fr);
    .img2{
        grid-column: span 3;
        object-fit: cover;
    }
    .img4{
        grid-column: span 2;
    }
    .img5{
        display: none;
    }
}
}
@media screen and (max-width:950px){
    .hero{
        div{
            img{
                border: 0px black solid;
                width: 950px;
                height: 350px;
                margin: 0px;
            }
            h2{
                position: absolute;
                margin-top: 50px;
                background-color: rgba(255, 255, 255, 0.279);
                padding: 5px;
                font-family: 'Courgette', cursive;
                color:rgb(0, 0, 0);
                font-size: 70px;
                border: 10px white double;  
            }
        }
    }      
}
@media screen and (max-width:880px){
    .subTitulo{
        .lugarBuenosAires{
            .lugarBuenosAiresImagenes{
                .Limg1{
                    width: 39vw;
                    border: none;
                }
                .Limg2{
                    border: none;
                    width: 39vw;
                }
            }
            .lugarParrafo{
                .parrafo{
                    font-size: 20px;
                }
                a{

                }
            }
        }
    }
}
    .subTitulo{
        .lugarTucuman{
            .lugarTucumanImagenes{
                .Ltimg1{
                    width: 39vw;
                }
                .Ltimg2{
                    width: 49vw;
                }
            }
            .lugarParrafo{
                .parrafo{
                    font-size: 20px;
                }
                a{

                }
            }
        }
    }
@media screen and (max-width:720px) {
    main{
        .hero{
            .imgtitle{
                img{
                    width: 100%;
                }
                h2{
                    font-size: 55px;
                }
            }
        }
    }
}
@media screen and (max-width:690px) {
    .subTitulo{
        .lugarBuenosAires{
            .lugarBuenosAiresImagenes{
                img{
                }
            }
            .lugarParrafo{
                
                .parrafo{
                    font-size: 14px !important;
                }
                a{
                }
            }
        }
    }  
}
@media screen and (max-width:660px){
    .gridContainer{
        grid-template-columns: repeat(2,1fr);
        gap: 0px;
        .img1{
            grid-column: span 1;
            }
            
        .img2{
            grid-column: span 2;
            }
        .img4{
            grid-column: span 3;
            }
    }
    
    
}
@media screen and (max-width:620px){
    .gridContainer{ 
    grid-template-columns:1fr;
    gap: 0px;
    }
        .subTitulo{
        .lugarBuenosAires{
            .lugarBuenosAiresImagenes{
                .Limg1{
                    width: 38vw;
                    border: none;
                }
                .Limg2{
                    border: none;
                    width: 38vw;
                }
            }
            .lugarParrafo{
                .parrafo{
                    
                }
                a{
                }
            }
        }
    }
}
    .subTitulo{
        .lugarTucuman{
            .lugarTucumanImagenes{
                .Ltimg1{
                    width: 38vw;
                }
                .Ltimg2{
                    width: 38vw;
                }
            }
            .lugarParrafo{
                .parrafo{
                    font-size: 20px;
                }
                a{

                }
            }
    }
}
@media screen and (max-width:580px){
    .buenosAires p{
        display: none;
        }
    .tucuman p{
        display: none;
    }
    .rioNegro p{
        display: none;
    }
    .misiones {
        div{
            p{
                display:none;
            }
        }
    }
}
@media screen and (max-width:500px) {
    .subTitulo{
        .lugarBuenosAires{
            .lugarBuenosAiresImagenes{
                .Limg1{
                    width: 30vw;
                    border: none;
                }
                .Limg2{
                    border: none;
                    width: 30vw;
                }
            }
            .lugarParrafo{
                .parrafo{
                    font-size: 15px !important;
                }
                a{
                }
            }
        }
    }
}
    .subTitulo{
        .lugarTucuman{
            .lugarTucumanImagenes{
                .Ltimg1{
                    width: 35vw;
                }
                .Ltimg2{
                    width: 35vw;
                }
            }
            .lugarParrafo{
                .parrafo{
                    font-size: 20px;
                }
                a{

                }
            }
    }
}

