footer{
    background-color: darkgray;
    div{
        p{

        }
        div{
            display: flex;
            justify-content: space-between;
            a{
                background-color: rgba(7, 7, 7, 0.578);
            color: rgb(0, 0, 0);
            }
        }
    }
}