header{
    background-color:#158c97;
    nav{
        div{
            a{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
            button{
                span{

                }
            }
            div{
                ul{
                    li{
                        a{

                        }
                        ul{
                            
                            li{
                                background-color:#158c97;
                                a{

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}